html, body, form, p, h1, h2, h3, h4, h5, h6, dl, ul, ol, li, dt, dd, select { margin: 0; padding: 0; font-size: 32px; font-weight: 400; }
html, body { height: 100%; overflow: hidden; -webkit-tap-highlight-color: transparent; }
body, select, input, option { color: #000; font: 32px/1.5 "Microsoft YaHei",Arial; -webkit-text-size-adjust: none; }
ul, ol, li { list-style-type: none; }
em, i { font-style: normal; }
input, button, textarea { font-size: 32px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
a, a:visited { color: #000; }
a { text-decoration: none; }
a img { border: 0 none; }
.clearfix:after { content: ""; display: block; height: 0; overflow: hidden; clear: both; visibility: hidden; }
@-moz-keyframes flash { 0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; } }
@-webkit-keyframes flash { 0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes flash { 0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; } }
.flash { -moz-animation-name: flash; -webkit-animation-name: flash; animation-name: flash; }

@-moz-keyframes shake { 0% { -moz-transform: translateX(0); transform: translateX(0); }
  10% { -moz-transform: translateX(-10px); transform: translateX(-10px); }
  20% { -moz-transform: translateX(10px); transform: translateX(10px); }
  30% { -moz-transform: translateX(-10px); transform: translateX(-10px); }
  40% { -moz-transform: translateX(10px); transform: translateX(10px); }
  50% { -moz-transform: translateX(-10px); transform: translateX(-10px); }
  60% { -moz-transform: translateX(10px); transform: translateX(10px); }
  70% { -moz-transform: translateX(-10px); transform: translateX(-10px); }
  80% { -moz-transform: translateX(10px); transform: translateX(10px); }
  90% { -moz-transform: translateX(-10px); transform: translateX(-10px); }
  100% { -moz-transform: translateX(0); transform: translateX(0); } }
@-webkit-keyframes shake { 0% { -webkit-transform: translateX(0); transform: translateX(0); }
  10% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20% { -webkit-transform: translateX(10px); transform: translateX(10px); }
  30% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  40% { -webkit-transform: translateX(10px); transform: translateX(10px); }
  50% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  60% { -webkit-transform: translateX(10px); transform: translateX(10px); }
  70% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
  90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); } }
@keyframes shake { 0% { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); }
  10% { -moz-transform: translateX(-10px); -ms-transform: translateX(-10px); -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20% { -moz-transform: translateX(10px); -ms-transform: translateX(10px); -webkit-transform: translateX(10px); transform: translateX(10px); }
  30% { -moz-transform: translateX(-10px); -ms-transform: translateX(-10px); -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  40% { -moz-transform: translateX(10px); -ms-transform: translateX(10px); -webkit-transform: translateX(10px); transform: translateX(10px); }
  50% { -moz-transform: translateX(-10px); -ms-transform: translateX(-10px); -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  60% { -moz-transform: translateX(10px); -ms-transform: translateX(10px); -webkit-transform: translateX(10px); transform: translateX(10px); }
  70% { -moz-transform: translateX(-10px); -ms-transform: translateX(-10px); -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  80% { -moz-transform: translateX(10px); -ms-transform: translateX(10px); -webkit-transform: translateX(10px); transform: translateX(10px); }
  90% { -moz-transform: translateX(-10px); -ms-transform: translateX(-10px); -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  100% { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); } }
.shake { -moz-animation-name: shake; -webkit-animation-name: shake; animation-name: shake; }

@-moz-keyframes bounceInDown { 0% { opacity: 0; -moz-transform: translateY(-2000px); transform: translateY(-2000px); }
  60% { opacity: 1; -moz-transform: translateY(30px); transform: translateY(30px); }
  80% { -moz-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -moz-transform: translateY(0); transform: translateY(0); } }
@-webkit-keyframes bounceInDown { 0% { opacity: 0; -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  60% { opacity: 1; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes bounceInDown { 0% { opacity: 0; -moz-transform: translateY(-2000px); -ms-transform: translateY(-2000px); -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  60% { opacity: 1; -moz-transform: translateY(30px); -ms-transform: translateY(30px); -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -moz-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); } }
.bounceInDown { -moz-animation-name: bounceInDown; -webkit-animation-name: bounceInDown; animation-name: bounceInDown; }

@-moz-keyframes bounceInUp { 0% { opacity: 0; -moz-transform: translateY(2000px); transform: translateY(2000px); }
  60% { opacity: 1; -moz-transform: translateY(-30px); transform: translateY(-30px); }
  80% { -moz-transform: translateY(10px); transform: translateY(10px); }
  100% { -moz-transform: translateY(0); transform: translateY(0); } }
@-webkit-keyframes bounceInUp { 0% { opacity: 0; -webkit-transform: translateY(2000px); transform: translateY(2000px); }
  60% { opacity: 1; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  80% { -webkit-transform: translateY(10px); transform: translateY(10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes bounceInUp { 0% { opacity: 0; -moz-transform: translateY(2000px); -ms-transform: translateY(2000px); -webkit-transform: translateY(2000px); transform: translateY(2000px); }
  60% { opacity: 1; -moz-transform: translateY(-30px); -ms-transform: translateY(-30px); -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  80% { -moz-transform: translateY(10px); -ms-transform: translateY(10px); -webkit-transform: translateY(10px); transform: translateY(10px); }
  100% { -moz-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); } }
.bounceInUp { -moz-animation-name: bounceInUp; -webkit-animation-name: bounceInUp; animation-name: bounceInUp; }

@-moz-keyframes bounceInLeft { 0% { opacity: 0; -moz-transform: translateX(-2000px); transform: translateX(-2000px); }
  60% { opacity: 1; -moz-transform: translateX(30px); transform: translateX(30px); }
  80% { -moz-transform: translateX(-10px); transform: translateX(-10px); }
  100% { -moz-transform: translateX(0); transform: translateX(0); } }
@-webkit-keyframes bounceInLeft { 0% { opacity: 0; -webkit-transform: translateX(-2000px); transform: translateX(-2000px); }
  60% { opacity: 1; -webkit-transform: translateX(30px); transform: translateX(30px); }
  80% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); } }
@keyframes bounceInLeft { 0% { opacity: 0; -moz-transform: translateX(-2000px); -ms-transform: translateX(-2000px); -webkit-transform: translateX(-2000px); transform: translateX(-2000px); }
  60% { opacity: 1; -moz-transform: translateX(30px); -ms-transform: translateX(30px); -webkit-transform: translateX(30px); transform: translateX(30px); }
  80% { -moz-transform: translateX(-10px); -ms-transform: translateX(-10px); -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  100% { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); } }
.bounceInLeft { -moz-animation-name: bounceInLeft; -webkit-animation-name: bounceInLeft; animation-name: bounceInLeft; }

@-moz-keyframes bounceInRight { 0% { opacity: 0; -moz-transform: translateX(2000px); transform: translateX(2000px); }
  60% { opacity: 1; -moz-transform: translateX(-30px); transform: translateX(-30px); }
  80% { -moz-transform: translateX(10px); transform: translateX(10px); }
  100% { -moz-transform: translateX(0); transform: translateX(0); } }
@-webkit-keyframes bounceInRight { 0% { opacity: 0; -webkit-transform: translateX(2000px); transform: translateX(2000px); }
  60% { opacity: 1; -webkit-transform: translateX(-30px); transform: translateX(-30px); }
  80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); } }
@keyframes bounceInRight { 0% { opacity: 0; -moz-transform: translateX(2000px); -ms-transform: translateX(2000px); -webkit-transform: translateX(2000px); transform: translateX(2000px); }
  60% { opacity: 1; -moz-transform: translateX(-30px); -ms-transform: translateX(-30px); -webkit-transform: translateX(-30px); transform: translateX(-30px); }
  80% { -moz-transform: translateX(10px); -ms-transform: translateX(10px); -webkit-transform: translateX(10px); transform: translateX(10px); }
  100% { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); } }
.bounceInRight { -moz-animation-name: bounceInRight; -webkit-animation-name: bounceInRight; animation-name: bounceInRight; }

@-moz-keyframes rollIn { 0% { opacity: 0; -moz-transform: translateX(-100%) rotate(-120deg); transform: translateX(-100%) rotate(-120deg); }
  100% { opacity: 1; -moz-transform: translateX(0px) rotate(0deg); transform: translateX(0px) rotate(0deg); } }
@-webkit-keyframes rollIn { 0% { opacity: 0; -webkit-transform: translateX(-100%) rotate(-120deg); transform: translateX(-100%) rotate(-120deg); }
  100% { opacity: 1; -webkit-transform: translateX(0px) rotate(0deg); transform: translateX(0px) rotate(0deg); } }
@keyframes rollIn { 0% { opacity: 0; -moz-transform: translateX(-100%) rotate(-120deg); -ms-transform: translateX(-100%) rotate(-120deg); -webkit-transform: translateX(-100%) rotate(-120deg); transform: translateX(-100%) rotate(-120deg); }
  100% { opacity: 1; -moz-transform: translateX(0px) rotate(0deg); -ms-transform: translateX(0px) rotate(0deg); -webkit-transform: translateX(0px) rotate(0deg); transform: translateX(0px) rotate(0deg); } }
.rollIn { -moz-animation-name: rollIn; -webkit-animation-name: rollIn; animation-name: rollIn; }

@-moz-keyframes fadeInDownBig { 0% { opacity: 0; -moz-transform: translateY(-2000px); transform: translateY(-2000px); }
  100% { opacity: 1; -moz-transform: translateY(0); transform: translateY(0); } }
@-webkit-keyframes fadeInDownBig { 0% { opacity: 0; -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes fadeInDownBig { 0% { opacity: 0; -moz-transform: translateY(-2000px); -ms-transform: translateY(-2000px); -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  100% { opacity: 1; -moz-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); } }
.fadeInDownBig { -moz-animation-name: fadeInDownBig; -webkit-animation-name: fadeInDownBig; animation-name: fadeInDownBig; }

@-moz-keyframes flipInX { 0% { -moz-transform: perspective(400px) rotateX(90deg); transform: perspective(400px) rotateX(90deg); opacity: 0; }
  40% { -moz-transform: perspective(400px) rotateX(-10deg); transform: perspective(400px) rotateX(-10deg); }
  70% { -moz-transform: perspective(400px) rotateX(10deg); transform: perspective(400px) rotateX(10deg); }
  100% { -moz-transform: perspective(400px) rotateX(0deg); transform: perspective(400px) rotateX(0deg); opacity: 1; } }
@-webkit-keyframes flipInX { 0% { -webkit-transform: perspective(400px) rotateX(90deg); transform: perspective(400px) rotateX(90deg); opacity: 0; }
  40% { -webkit-transform: perspective(400px) rotateX(-10deg); transform: perspective(400px) rotateX(-10deg); }
  70% { -webkit-transform: perspective(400px) rotateX(10deg); transform: perspective(400px) rotateX(10deg); }
  100% { -webkit-transform: perspective(400px) rotateX(0deg); transform: perspective(400px) rotateX(0deg); opacity: 1; } }
@keyframes flipInX { 0% { -moz-transform: perspective(400px) rotateX(90deg); -ms-transform: perspective(400px) rotateX(90deg); -webkit-transform: perspective(400px) rotateX(90deg); transform: perspective(400px) rotateX(90deg); opacity: 0; }
  40% { -moz-transform: perspective(400px) rotateX(-10deg); -ms-transform: perspective(400px) rotateX(-10deg); -webkit-transform: perspective(400px) rotateX(-10deg); transform: perspective(400px) rotateX(-10deg); }
  70% { -moz-transform: perspective(400px) rotateX(10deg); -ms-transform: perspective(400px) rotateX(10deg); -webkit-transform: perspective(400px) rotateX(10deg); transform: perspective(400px) rotateX(10deg); }
  100% { -moz-transform: perspective(400px) rotateX(0deg); -ms-transform: perspective(400px) rotateX(0deg); -webkit-transform: perspective(400px) rotateX(0deg); transform: perspective(400px) rotateX(0deg); opacity: 1; } }
.flipInX { -moz-animation-name: flipInX; -webkit-animation-name: flipInX; animation-name: flipInX; -moz-backface-visibility: visible; -webkit-backface-visibility: visible; backface-visibility: visible; }

@-moz-keyframes flipInY { 0% { -moz-transform: perspective(400px) rotateY(90deg); transform: perspective(400px) rotateY(90deg); opacity: 0; }
  40% { -moz-transform: perspective(400px) rotateY(-10deg); transform: perspective(400px) rotateY(-10deg); }
  70% { -moz-transform: perspective(400px) rotateY(10deg); transform: perspective(400px) rotateY(10deg); }
  100% { -moz-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(0deg); opacity: 1; } }
@-webkit-keyframes flipInY { 0% { -webkit-transform: perspective(400px) rotateY(90deg); transform: perspective(400px) rotateY(90deg); opacity: 0; }
  40% { -webkit-transform: perspective(400px) rotateY(-10deg); transform: perspective(400px) rotateY(-10deg); }
  70% { -webkit-transform: perspective(400px) rotateY(10deg); transform: perspective(400px) rotateY(10deg); }
  100% { -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(0deg); opacity: 1; } }
@keyframes flipInY { 0% { -moz-transform: perspective(400px) rotateY(90deg); -ms-transform: perspective(400px) rotateY(90deg); -webkit-transform: perspective(400px) rotateY(90deg); transform: perspective(400px) rotateY(90deg); opacity: 0; }
  40% { -moz-transform: perspective(400px) rotateY(-10deg); -ms-transform: perspective(400px) rotateY(-10deg); -webkit-transform: perspective(400px) rotateY(-10deg); transform: perspective(400px) rotateY(-10deg); }
  70% { -moz-transform: perspective(400px) rotateY(10deg); -ms-transform: perspective(400px) rotateY(10deg); -webkit-transform: perspective(400px) rotateY(10deg); transform: perspective(400px) rotateY(10deg); }
  100% { -moz-transform: perspective(400px) rotateY(0deg); -ms-transform: perspective(400px) rotateY(0deg); -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(0deg); opacity: 1; } }
.flipInY { -moz-animation-name: flipInY; -webkit-animation-name: flipInY; animation-name: flipInY; -moz-backface-visibility: visible; -webkit-backface-visibility: visible; backface-visibility: visible; }

@-webkit-keyframes left-hand-swing { 0% { -webkit-transform: rotate(-30deg); -webkit-transform-origin: 100% 100%; }
  100% { -webkit-transform: rotate(30deg); -webkit-transform-origin: 100% 100%; } }
@-webkit-keyframes right-hand-swing { 0% { -webkit-transform: rotate(30deg); -webkit-transform-origin: 0 100%; }
  100% { -webkit-transform: rotate(-30deg); -webkit-transform-origin: 0 100%; } }
@-webkit-keyframes light-move { 0% { opacity: 1; -webkit-transform: rotate(-25deg); -webkit-transform-origin: 0 0; }
  100% { opacity: 1; -webkit-transform: rotate(25deg); -webkit-transform-origin: 0 0; } }
@-webkit-keyframes zoomIn { from { opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
  50% { opacity: 1; } }
@keyframes zoomIn { from { opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
  50% { opacity: 1; } }
.wrapper { z-index: 1; position: relative; margin: 0 auto; height: 100%; overflow: hidden; }

@-webkit-keyframes swipe { 0% { -webkit-transform: translate(0, 0); }
  50% { -webkit-transform: translate(0, 10px); }
  100% { -webkit-transform: translate(0, 0); } }
@keyframes swipe { 0% { transform: translate(0, 0); }
  50% { transform: translate(0, 10px); }
  100% { transform: translate(0, 0); } }
.arrow { display: none; position: absolute; bottom: 3%; left: 50%; margin-left: -34px; z-index: 10; -webkit-animation: swipe 1s ease 0s infinite; animation: swipe 1s ease 0s infinite; width: 68px; height: 29px; background-image: url(../images/arrow.png); }
.arrow.visible { display: block; }

.bgmusic { z-index: 100; position: absolute; right: 10px; top: 20px; width: 79px; height: 79px; background-image: url(../images/music.png); }

.bgmusic-closed { background-image: url(../images/music-closed.png); }

.container { z-index: 1; position: absolute; left: 0; top: 0; width: 100%; height: 1000%; -webkit-transition: -webkit-transform .5s ease-in-out; transition: transform .5s ease-in-out; }

.section { position: relative; width: 100%; height: 10%; overflow: hidden; }

.animate-item { display: none; position: absolute; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.visible .animate-item { display: block; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.section1 { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3ZGZmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmZDY5NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a7dff1), color-stop(100%, #efd696)); background-image: -moz-linear-gradient(#a7dff1, #efd696); background-image: -webkit-linear-gradient(#a7dff1, #efd696); background-image: linear-gradient(#a7dff1, #efd696); }
.section1 .img1 { right: 0; top: 10px; width: 600px; height: 430px; background-image: url(../images/sec1-img1.png); }
.section1 .img2 { left: 0; top: 408px; width: 640px; height: 424px; background-image: url(../images/sec1-img2.png); }
.section1 .img3 { left: 50%; bottom: 50px; margin: 0 0 0 -131px; width: 262px; height: 132px; background-image: url(../images/sec1-img3.png); }
.section1.visible .img1 { -moz-animation: bounceInDown 1s ease both; -webkit-animation: bounceInDown 1s ease both; animation: bounceInDown 1s ease both; }
.section1.visible .img2 { -moz-animation: rollIn 1s 1s ease both; -webkit-animation: rollIn 1s 1s ease both; animation: rollIn 1s 1s ease both; }
.section1.visible .img3 { -moz-animation: flipInY 0.5s 2s ease both; -webkit-animation: flipInY 0.5s 2s ease both; animation: flipInY 0.5s 2s ease both; }

.section2 { background-color: #282521; }
.section2 .img1 { left: 50%; top: 12px; margin-left: -255px; width: 511px; height: 329px; background-image: url(../images/sec2-img1.png); }
.section2 .img2 { right: 10px; top: 426px; width: 559px; height: 478px; background-image: url(../images/sec2-img2.png); }
.section2 .img3 { left: 138px; top: 618px; width: 171px; height: 208px; background-image: url(../images/sec2-img3.png); }
.section2 .img4 { right: 20px; top: 684px; width: 215px; height: 166px; background-image: url(../images/sec2-img4.png); }
.section2 .img5 { left: -68px; top: 280px; width: 366px; height: 335px; background-image: url(../images/sec2-img5.png); }
.section2 .img6 { left: 208px; top: 531px; width: 122px; height: 95px; background-image: url(../images/sec2-img6.png); }
.section2 .img7 { left: 176px; top: 550px; width: 27px; height: 58px; background-image: url(../images/sec2-img7.png); }
.section2 .img8 { left: 225px; top: 484px; width: 69px; height: 35px; background-image: url(../images/sec2-img8.png); }
.section2 .img9 { right: 95px; top: 448px; width: 134px; height: 121px; background-image: url(../images/sec2-img9.png); }
.section2 .img10 { right: 33px; top: 358px; width: 290px; height: 58px; background-image: url(../images/sec2-img10.png); }
.section2.visible .img1 { -moz-animation: flipInX 0.5s 0s ease both; -webkit-animation: flipInX 0.5s 0s ease both; animation: flipInX 0.5s 0s ease both; }
.section2.visible .img3 { -webkit-animation: left-hand-swing .4s 2.5s linear infinite alternate; }
.section2.visible .img4 { -webkit-animation: right-hand-swing .4s 2.5s linear infinite alternate; }
.section2.visible .img5 { -moz-animation: rollIn 1s 1s ease both; -webkit-animation: rollIn 1s 1s ease both; animation: rollIn 1s 1s ease both; }
.section2.visible .img6 { -moz-animation: flash infinite 0.5s 2s ease both; -webkit-animation: flash infinite 0.5s 2s ease both; animation: flash infinite 0.5s 2s ease both; }
.section2.visible .img7 { -moz-animation: flash infinite 0.5s 2s ease both; -webkit-animation: flash infinite 0.5s 2s ease both; animation: flash infinite 0.5s 2s ease both; }
.section2.visible .img8 { -moz-animation: flash infinite 0.5s 2s ease both; -webkit-animation: flash infinite 0.5s 2s ease both; animation: flash infinite 0.5s 2s ease both; }
.section2.visible .img9 { -moz-animation: shake infinite 0.5s 2.5s ease both; -webkit-animation: shake infinite 0.5s 2.5s ease both; animation: shake infinite 0.5s 2.5s ease both; }
.section2.visible .img10 { -moz-animation: bounceInRight 0.5s 3s ease both; -webkit-animation: bounceInRight 0.5s 3s ease both; animation: bounceInRight 0.5s 3s ease both; }

.section3 { background-color: #282521; }
.section3 .img1 { left: 50%; top: 32px; margin-left: -276px; width: 552px; height: 816px; background-image: url(../images/sec3-img1.png); }
.section3 .img2 { z-index: 10; left: 67px; top: 88px; width: 146px; height: 71px; background-image: url(../images/sec3-img2.png); }
.section3 .img3 { opacity: 0; z-index: 2; left: 132px; top: 149px; width: 185px; height: 351px; background-image: url(../images/sec3-img3.png); }
.section3 .img4 { left: 283px; top: 67px; width: 289px; height: 323px; background-image: url(../images/sec3-img4.png); }
.section3 .img5 { left: 149px; top: 684px; width: 360px; height: 118px; background-image: url(../images/sec3-img5.png); }
.section3 .img6 { left: 191px; top: 55px; width: 90px; height: 28px; background-image: url(../images/sec3-img6.png); }
.section3.visible .img2 { -moz-animation: fadeInDownBig 0.5s ease both; -webkit-animation: fadeInDownBig 0.5s ease both; animation: fadeInDownBig 0.5s ease both; }
.section3.visible .img3 { -webkit-animation: light-move 4s .8s linear infinite alternate; }
.section3.visible .img4 { -moz-animation: zoomIn 0.3s 1.5s ease both; -webkit-animation: zoomIn 0.3s 1.5s ease both; animation: zoomIn 0.3s 1.5s ease both; }
.section3.visible .img5 { -moz-animation: bounceInUp 0.5s 2s ease both; -webkit-animation: bounceInUp 0.5s 2s ease both; animation: bounceInUp 0.5s 2s ease both; }
.section3.visible .img6 { -moz-animation: shake 0.5s 1s ease both; -webkit-animation: shake 0.5s 1s ease both; animation: shake 0.5s 1s ease both; }

.section4 { background-color: #282521; }
.section4 .img1 { left: 6px; top: 15px; width: 361px; height: 562px; background-image: url(../images/sec4-img1.png); }
.section4 .img2 { left: 233px; top: 60px; width: 96px; height: 194px; background-image: url(../images/sec4-img2.png); }
.section4 .img3 { right: 4px; top: 18px; width: 359px; height: 559px; background-image: url(../images/sec4-img3.png); }
.section4 .img4 { right: 208px; top: 374px; width: 128px; height: 158px; background-image: url(../images/sec4-img4.png); }
.section4 .img5 { left: 39px; top: 577px; width: 563px; height: 332px; background-image: url(../images/sec4-img5.png); }
.section4 .img6 { right: 153px; top: 784px; width: 332px; height: 110px; background-image: url(../images/sec4-img6.png); }
.section4.visible .img1 { -moz-animation: bounceInLeft 0.5s ease both; -webkit-animation: bounceInLeft 0.5s ease both; animation: bounceInLeft 0.5s ease both; }
.section4.visible .img2 { -moz-animation: zoomIn 0.5s 0.8s ease both; -webkit-animation: zoomIn 0.5s 0.8s ease both; animation: zoomIn 0.5s 0.8s ease both; }
.section4.visible .img3 { -moz-animation: bounceInRight 0.5s 1.6s ease both; -webkit-animation: bounceInRight 0.5s 1.6s ease both; animation: bounceInRight 0.5s 1.6s ease both; }
.section4.visible .img4 { -moz-animation: zoomIn 0.5s 2.4s ease both; -webkit-animation: zoomIn 0.5s 2.4s ease both; animation: zoomIn 0.5s 2.4s ease both; }
.section4.visible .img5 { -moz-animation: bounceInUp 0.5s 3.2s ease both; -webkit-animation: bounceInUp 0.5s 3.2s ease both; animation: bounceInUp 0.5s 3.2s ease both; }
.section4.visible .img6 { -moz-animation: zoomIn 0.5s 4s ease both; -webkit-animation: zoomIn 0.5s 4s ease both; animation: zoomIn 0.5s 4s ease both; }

.section5 { background-image: url(../images/sec5-bg.png); background-size: 100% 100%; }


#play { position: absolute; width: 100%; height: 100%; overflow: hidden; }
#viewport { position: absolute; width: 100%; height: 100%;}
#canvas { width: 100%; height: 100%; overflow: hidden; -webkit-background-size: auto; background-size: auto; -webkit-transform-origin: 0 0; transform-origin: 0 0; }
#screen { position: relative; width: 100%; height: 100%; overflow: hidden;}
#tips { position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: url(../images/sec5-img10.png) no-repeat 0 0 / 100% 100%; }
#arrow { position: absolute; left: 50%; bottom: 132px; width: 48px; height: 36px; margin-left: -24px; color: #fff; font-size: 20px; -webkit-transform-origin: 50% 280%; transform-origin: 50% 280%; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAkCAYAAADPRbkKAAACmklEQVR42tWZTUgVURTH501ZFj1VisxKJDXVXFqZLguRsE2glES4iRALISigIqOU2kSGCrUK+q4AjVJNBW1nkLR0Va4ChSLoAYLS1//QefCYfHPnzsyZmXfgh+h8nPO/c86Zc8eY2T1vCNvhow27JvHzp8TNTeHgN4NhcF3KgaSAGBhnHxdBaaYJ6AA1Kb+PS/iTErATDFj+Rk+gMxME0D2n0hzrBduiLqAL7LY5Psz1EUkBleCq4hyqixNRFJAF3jk89wHIi5oAyu8CDb8voyRgPzijeU0DvaWjICAbTLq8dhBsDFvAQ5DjQfz9MAVQGrR4vMcxcCAMAZu4p/thY2Bd0AJeuXW6ilFLvR2kgOPgkM8vQepi1UEI2AKeCA2BNLGukRRAM8xbwSl2B7gsKeCsZcaXsGugWEJAEegzgrFRp7GZGkKnjeBsDzjtp4AuqT2tjd3lhuFZQJWDGV/K3qg2PyoBWQGnjtVoxGj2IqBPY8aXsqcg7kZALWg3wre14JmuABpzJzw6/gxaQS5YD5rAnMt7NaUbXdIJeORyxv8OzoFCUAaegwRY4d5eze+THkP/W+lrXlilgEZV4ViMArnFn1Ko7d0BizbnfwFXwAZe1Q8O/dDO7Z5KQJyVOrEXYB+vygXwCfzRFD7F++mt4BJYUlzTBvbaCRhSzPjv+Qll80g9C37ZeawscfT15Cu4yWlbr2jdI9ze/xPQmqZQqBhP8qajjot72UlUFHxVab5OntNizICDxr9P851cQ6lGT+uGVQDl7uOUkxKcFtu5GOnYD51IXAS/WkPo54Wr4ZVP2nlQnhQQ41X9zQVYwRdRYS648exD8KlGdfURHOEUOwW+JfclMbN7vp6DnzV8+DeQz8HbbaxoYs39C1K6Z6KSqYJxAAAAAElFTkSuQmCC) no-repeat 50% 50%; }
#arrow:after { content: none; display: block; position: absolute; width: 0; left: 50%; border-left: 1px dashed #fff; bottom: 100%; height: 1000px; }

#summary { margin-top: 15px; height: 81px; text-align: center; }
#summary span { position: absolute; top: 15px; display: inline-block; }
#summary span:first-child { left: 20px; width: 155px; height: 70px; background: url(../images/sec5-img1.png) no-repeat; line-height: 70px; font-size: 56px; color: #533e1f; }
#summary span:last-child { left: 345px; width: 199px; height: 81px; background: url(../images/sec5-img2.png) no-repeat; line-height: 81px; font-size: 50px; color: #e95567; }
#summary var { display: block; font-style: normal; font-weight: 700; vertical-align: top; text-align: left;}
#summary span:first-child var { text-indent: 15px; }
#summary span:last-child var { text-indent: 100px; }

#trash { position: relative; width: 120px; height: 150px; margin: 80px auto 0 auto; }
#trash:after { content: ""; display: block; position: absolute; width: 100%; left: 0; top: 0; height: 100%; opacity: .8; }

.trashicon { position: absolute; top: -42px; left: 50%; width: 78px; height: 78px; margin-left: -38px; -webkit-transform: scale(.7) rotate(45deg); transform: scale(.7) rotate(45deg); -webkit-transition: -webkit-transform ease-in .4s; transition: transform ease-in .4s; }

#fan { position: absolute; width: 209px; height: 118px; bottom: 296px; right: 0px; background: url(../images/sec5-img11.png) no-repeat; }
#fan.left { right: auto; left: 0px; background-image: url(); }
#fan:after { content: ""; display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: url() no-repeat 0 0; }
#fan.left:after { background-image: url(); }
#flabellum { position: absolute; width: 105px; height: 105px; left: 5px; top: 8px; -webkit-transform-origin: 52.4% 52.4%; transform-origin: 52.4% 52.4%; background: url() no-repeat 0 0; }
#fan.left #flabellum { left: 7px; }

@-webkit-keyframes rotation-ani {
  0% { -webkit-transform: rotate(0); }
  100% { -webkit-transform: rotate(-360deg); }
}

@keyframes rotation-ani {
  0% { transform: rotate(0); }
  100% { transform: rotate(-360deg); }
}

@-webkit-keyframes rotation2-ani {
  0% { -webkit-transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes rotation2-ani {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

#wind-velocity { display: block; position: absolute; left: 27px; top: -73px; width: 80px; height: 45px; line-height: 45px; font-style: normal; border-bottom: 2px solid #fff; text-align: center; font-size: 24px; color: #fff; }
#wind-velocity:before { content: attr(data-velocity); }
#wind-velocity:after { content: ""; display: block; position: absolute; width: 0; height: 0; left: -8px; bottom: -9px; overflow: hidden; border: 8px solid transparent; border-right-color: #fff; }
#fan.left #wind-velocity:after { left: auto; right: -8px; border-right-color: transparent; border-left-color: #fff; }

#icons { position: absolute; width: 390px; height: 110px; bottom: 4px; left: 0; }
#icons ul { float: right; width: 21000px; height: 110px; -webkit-transition: -webkit-transform .2s; transition: transform .2s; }
#icons ul:after { content: ""; display: table; clear: both; }
#icons li { pointer-events: none; position: relative; float: right; width: 150px; height: 110px; margin-left: 2px; overflow: hidden; color: rgba(0,0,0,0); -webkit-transition: -webkit-transform .2s; transition: transform .2s; -webkit-transform: translate3d(0,0,0) scale(.75); transform: translate3d(0,0,0) scale(.75); }

#icons .current { pointer-events: all; margin-left: 12px; -webkit-transform: translate3d(0,0,0) scale(1); transform: translate3d(0,0,0) scale(1); }
#icons li:after { content: ""; display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: rgba(30,56,82,.5); }
#icons li.current:after { content: none; }

#icons li.throwing { visibility: hidden; }

#throwing { display: block; position: absolute; width: 150px; height: 110px; top: 0; right: 0; -webkit-transition: -webkit-transform ease-out 1s; transition: transform ease-out 1s; }
#throwing div { display: block; position: absolute; width: 100%; height: 100%; top: 0; right: 0; }
#throwing.back { -webkit-transition: none; transition: none; }
#throwing.r1 div { -webkit-animation: rotation-ani .3s linear infinite; animation: rotation-ani .3s linear infinite; -webkit-transform-origin: 40% 50%; transform-origin: 40% 50%; }
#throwing.r2 div { -webkit-animation: rotation2-ani .3s linear infinite; animation: rotation2-ani .3s linear infinite; -webkit-transform-origin: 60% 50%; transform-origin: 60% 50%; }

#increment { position: absolute; opacity: 0; left: 234px; top: 120px; width: 148px; height: 80px; line-height: 80px; text-align: center; color: #fff; -webkit-transition: .3s; transition: .3s; }
#increment:before { content: "+"; font-size: 32px; }
#increment:after { content: attr(data-value); font-size: 40px; }

#increment .star { display: block; position: absolute; width: 24px; height: 24px; color: rgba(0,0,0,0); overflow: hidden; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAB9UlEQVR42q2WUSgEURSGj9m1W2xBlLKVFCqRUEoRobIVRSEvXj1KJeVNJS/yiOJFIVBRtpI3QiUFWymRJEUKMLsTxn+3u8yuOzt3cOq7Y447/zn33Dtnh3RdJyGhxh7T/9lAIZFpvnqMo7iugBqSNc2XD9xGl2Iy9RwEQRNYw0P9INlENAWUgQPc7YIimQAfIJJJEhgCU3xlTNTBr8MYt8EeKAYecGgUSmB1EmZFFADZBi+b+AgmQA5oEyR2RS6/1+hwmqzgmWcTlQxggfvi7MJ4rMOsREzsgOzbqlwAl/8N47tN8SdeVqkVMMuyGeAYif1IyinYYOa7Bhk2A+yInEqMeDVG9RfizJrxfOePzfw6ppqvBeMy/c0eQDlKdRq9As03/w/ixI/xLPS83yt4amDnepDvh4P+x2bAAHnWL5wU1BZwswVKQB2oAJnssP4hQGv4ZfVQd3SruKxM5OIl4VoS1fK/U+OI6fzFjPXds2Yp7kXMTkrZQ2lgCdQIRJgtgk3eeYPhXkR0y+eGqGD/xDxAxPYLezGOCBtbacBrVSvrAJu5rF3fgNjfgzyqOju1CqBYbtdLSAXTgAysyojHa9ff9spKS3OgHaRzb4fscbJeQcudTqp2BAKASNW64FOlD6z0F8Kkqx9s2P2qkJ88prh/89nyCRAuayTovZHCAAAAAElFTkSuQmCC) no-repeat 50% 50%; }
#increment .star:nth-child(1) { left: 98px; top: 0; }
#increment .star:nth-child(2) { left: 128px; top: 19px; opacity: .5; -webkit-transform: scale(.583) rotate(-15deg); transform: scale(.583) rotate(-15deg); -webkit-animation-delay: .2s; animation-delay: .2s; }
#increment .star:nth-child(3) { left: 104px; top: 45px; -webkit-transform: scale(.792) rotate(-15deg); transform: scale(.792) rotate(-15deg); -webkit-animation-delay: .4s; animation-delay: .4s; }
#increment .star:nth-child(4) { left: 40px; top: -2px; opacity: .5; -webkit-transform: scale(.8) rotate(-10deg); transform: scale(.8) rotate(-10deg); -webkit-animation-delay: .6s; animation-delay: .6s; }
#increment .star:nth-child(5) { left: 14px; top: 7px; -webkit-transform: scale(.583) rotate(-10deg); transform: scale(.583) rotate(-10deg); -webkit-animation-delay: .8s; animation-delay: .8s; }

#increment.visible { opacity: 1; -webkit-animation: increment-visible .3s; }
#increment.visible .star { -webkit-animation: star-blink .5s linear infinite 0; animation: star-blink .5s linear infinite 0; }
#increment.visible .star:nth-child(1) { }
#increment.visible .star:nth-child(2) { -webkit-animation-delay: .1s; animation-delay: .1s; }
#increment.visible .star:nth-child(3) { -webkit-animation-delay: .2s; animation-delay: .2s; }
#increment.visible .star:nth-child(4) { -webkit-animation-delay: .3s; animation-delay: .3s; }
#increment.visible .star:nth-child(5) { -webkit-animation-delay: .4s; animation-delay: .4s; }
#increment.dismiss { opacity: 0; -webkit-animation: increment-dismiss .3s; }
@-webkit-keyframes star-blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes star-blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes increment-visible {
  0% { opacity: 0; -webkit-transform: translate(0,60px); }
  100% { opacity: 1; }
}

@keyframes increment-visible {
  0% { opacity: 0; transform: translate(0,60px); }
  100% { opacity: 1; }
}

@-webkit-keyframes increment-dismiss {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes increment-dismiss {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#icons li, #throwing div, .trashicon { background-image: url(../images/icons.png); background-repeat: no-repeat; }
#icons .mbox1, .mbox1 { background-position: 0 0; } 
#icons .mbox2, .mbox2 { background-position: 0 -110px; } 
#icons .mbox3, .mbox3 { background-position: 0 -220px; } 
#icons .mbox4, .mbox4 { background-position: 0 -330px; } 
#icons .mbox5, .mbox5 { background-position: 0 -440px; }

#over { display: none; opacity: 0; pointer-events: none; position: absolute; z-index: 10; width: 100%; height: 100%; left: 0; top: 0;  -webkit-transition: opacity .5s; transition: opacity .5s;
 background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3ZGZmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmZDY5NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a7dff1), color-stop(100%, #efd696));
  background-image: -moz-linear-gradient(#a7dff1, #efd696);
  background-image: -webkit-linear-gradient(#a7dff1, #efd696);
  background-image: linear-gradient(#a7dff1, #efd696); }
#over.visible { display: block; opacity: 1!important; pointer-events: all!important; }
.o-bottom {position: absolute; bottom: 0; left: 50%; margin-left: -317px; width: 634px; height: 232px; background: url(../images/sec5-img4.png) no-repeat;}
.share { margin-top: 60px; height:83px; text-align:center; width:100%; }
.share a { display:inline-block; width: 83px; height: 83px; display: inline-block;  background:url(../images/sec5-img3.png) no-repeat 0 0; margin:0 5px; vertical-align:top; overflow:hidden; color:rgba(0,0,0,0); text-indent:-9999em;}
.share .wechat { background-position:-95px 0;}
.share .qzone { background-position: -188px 0; }
.share .weibo { background-position: 0 0; }
.share .tencent-weibo { background-position: -280px 0; }

.o-links a { z-index: 12; position: absolute; bottom: 235px; width: 211px; text-indent: -999em; }
.o-link1 { left: 60px; height: 73px; background-image: url(../images/sec5-img5.png); }
.o-link2 { right: 60px; height: 74px; background-image: url(../images/sec5-img6.png); }
.o-success { display: none; position: absolute; top: 0; left: 50%; margin-left: -320px; width: 640px; height: 675px; background: url(../images/sec5-img7.png) no-repeat; }
.agin { position: absolute; width: 214px; height: 84px; background: url(../images/sec5-img9.png) no-repeat; text-indent: -999em; }
.o-success .agin { left: 330px; top: 52px; }
.o-fail { display: none; position: absolute; top: 0; left: 50%; margin-left: -320px; width: 640px; height: 681px; background: url(../images/sec5-img8.png) no-repeat; }
.o-fail .agin { left: 50%; top: 278px; margin-left: -107px; }
.o-success.visible, .o-fail.visible { display: block; }

@media only screen and (max-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .section1 .img3 { bottom: 20px; }
  .o-links a { bottom: 200px; }
}