/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Reset & Global */
html, body, form, p, h1, h2, h3, h4, h5, h6, dl, ul, ol, li, dt, dd, select { margin: 0; padding: 0; font-size: 32px; font-weight: 400; }

html, body { height: 100%; overflow: hidden; -webkit-tap-highlight-color: transparent; }

body, select, input, option { color: #000; font: 32px/1.5 "Microsoft YaHei",Arial; -webkit-text-size-adjust: none; }

ul, ol, li { list-style-type: none; }

em, i { font-style: normal; }

input, button, textarea { font-size: 32px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a, a:visited { color: #000; }

a { text-decoration: none; }

a img { border: 0 none; }

.clearfix:after { content: ""; display: block; height: 0; overflow: hidden; clear: both; visibility: hidden; }

@-moz-keyframes flash { 0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; } }
@-webkit-keyframes flash { 0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes flash { 0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 1; } }
.flash { -moz-animation-name: flash; -webkit-animation-name: flash; animation-name: flash; }

@-moz-keyframes shake { 0% { -moz-transform: translateX(0); transform: translateX(0); }
  10% { -moz-transform: translateX(-10px); transform: translateX(-10px); }
  20% { -moz-transform: translateX(10px); transform: translateX(10px); }
  30% { -moz-transform: translateX(-10px); transform: translateX(-10px); }
  40% { -moz-transform: translateX(10px); transform: translateX(10px); }
  50% { -moz-transform: translateX(-10px); transform: translateX(-10px); }
  60% { -moz-transform: translateX(10px); transform: translateX(10px); }
  70% { -moz-transform: translateX(-10px); transform: translateX(-10px); }
  80% { -moz-transform: translateX(10px); transform: translateX(10px); }
  90% { -moz-transform: translateX(-10px); transform: translateX(-10px); }
  100% { -moz-transform: translateX(0); transform: translateX(0); } }
@-webkit-keyframes shake { 0% { -webkit-transform: translateX(0); transform: translateX(0); }
  10% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20% { -webkit-transform: translateX(10px); transform: translateX(10px); }
  30% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  40% { -webkit-transform: translateX(10px); transform: translateX(10px); }
  50% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  60% { -webkit-transform: translateX(10px); transform: translateX(10px); }
  70% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
  90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); } }
@keyframes shake { 0% { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); }
  10% { -moz-transform: translateX(-10px); -ms-transform: translateX(-10px); -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20% { -moz-transform: translateX(10px); -ms-transform: translateX(10px); -webkit-transform: translateX(10px); transform: translateX(10px); }
  30% { -moz-transform: translateX(-10px); -ms-transform: translateX(-10px); -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  40% { -moz-transform: translateX(10px); -ms-transform: translateX(10px); -webkit-transform: translateX(10px); transform: translateX(10px); }
  50% { -moz-transform: translateX(-10px); -ms-transform: translateX(-10px); -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  60% { -moz-transform: translateX(10px); -ms-transform: translateX(10px); -webkit-transform: translateX(10px); transform: translateX(10px); }
  70% { -moz-transform: translateX(-10px); -ms-transform: translateX(-10px); -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  80% { -moz-transform: translateX(10px); -ms-transform: translateX(10px); -webkit-transform: translateX(10px); transform: translateX(10px); }
  90% { -moz-transform: translateX(-10px); -ms-transform: translateX(-10px); -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  100% { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); } }
.shake { -moz-animation-name: shake; -webkit-animation-name: shake; animation-name: shake; }

@-moz-keyframes bounceInDown { 0% { opacity: 0; -moz-transform: translateY(-2000px); transform: translateY(-2000px); }
  60% { opacity: 1; -moz-transform: translateY(30px); transform: translateY(30px); }
  80% { -moz-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -moz-transform: translateY(0); transform: translateY(0); } }
@-webkit-keyframes bounceInDown { 0% { opacity: 0; -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  60% { opacity: 1; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes bounceInDown { 0% { opacity: 0; -moz-transform: translateY(-2000px); -ms-transform: translateY(-2000px); -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  60% { opacity: 1; -moz-transform: translateY(30px); -ms-transform: translateY(30px); -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -webkit-transform: translateY(-10px); transform: translateY(-10px); }
  100% { -moz-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); } }
.bounceInDown { -moz-animation-name: bounceInDown; -webkit-animation-name: bounceInDown; animation-name: bounceInDown; }

@-moz-keyframes bounceInUp { 0% { opacity: 0; -moz-transform: translateY(2000px); transform: translateY(2000px); }
  60% { opacity: 1; -moz-transform: translateY(-30px); transform: translateY(-30px); }
  80% { -moz-transform: translateY(10px); transform: translateY(10px); }
  100% { -moz-transform: translateY(0); transform: translateY(0); } }
@-webkit-keyframes bounceInUp { 0% { opacity: 0; -webkit-transform: translateY(2000px); transform: translateY(2000px); }
  60% { opacity: 1; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  80% { -webkit-transform: translateY(10px); transform: translateY(10px); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes bounceInUp { 0% { opacity: 0; -moz-transform: translateY(2000px); -ms-transform: translateY(2000px); -webkit-transform: translateY(2000px); transform: translateY(2000px); }
  60% { opacity: 1; -moz-transform: translateY(-30px); -ms-transform: translateY(-30px); -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  80% { -moz-transform: translateY(10px); -ms-transform: translateY(10px); -webkit-transform: translateY(10px); transform: translateY(10px); }
  100% { -moz-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); } }
.bounceInUp { -moz-animation-name: bounceInUp; -webkit-animation-name: bounceInUp; animation-name: bounceInUp; }

@-moz-keyframes bounceInLeft { 0% { opacity: 0; -moz-transform: translateX(-2000px); transform: translateX(-2000px); }
  60% { opacity: 1; -moz-transform: translateX(30px); transform: translateX(30px); }
  80% { -moz-transform: translateX(-10px); transform: translateX(-10px); }
  100% { -moz-transform: translateX(0); transform: translateX(0); } }
@-webkit-keyframes bounceInLeft { 0% { opacity: 0; -webkit-transform: translateX(-2000px); transform: translateX(-2000px); }
  60% { opacity: 1; -webkit-transform: translateX(30px); transform: translateX(30px); }
  80% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); } }
@keyframes bounceInLeft { 0% { opacity: 0; -moz-transform: translateX(-2000px); -ms-transform: translateX(-2000px); -webkit-transform: translateX(-2000px); transform: translateX(-2000px); }
  60% { opacity: 1; -moz-transform: translateX(30px); -ms-transform: translateX(30px); -webkit-transform: translateX(30px); transform: translateX(30px); }
  80% { -moz-transform: translateX(-10px); -ms-transform: translateX(-10px); -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  100% { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); } }
.bounceInLeft { -moz-animation-name: bounceInLeft; -webkit-animation-name: bounceInLeft; animation-name: bounceInLeft; }

@-moz-keyframes bounceInRight { 0% { opacity: 0; -moz-transform: translateX(2000px); transform: translateX(2000px); }
  60% { opacity: 1; -moz-transform: translateX(-30px); transform: translateX(-30px); }
  80% { -moz-transform: translateX(10px); transform: translateX(10px); }
  100% { -moz-transform: translateX(0); transform: translateX(0); } }
@-webkit-keyframes bounceInRight { 0% { opacity: 0; -webkit-transform: translateX(2000px); transform: translateX(2000px); }
  60% { opacity: 1; -webkit-transform: translateX(-30px); transform: translateX(-30px); }
  80% { -webkit-transform: translateX(10px); transform: translateX(10px); }
  100% { -webkit-transform: translateX(0); transform: translateX(0); } }
@keyframes bounceInRight { 0% { opacity: 0; -moz-transform: translateX(2000px); -ms-transform: translateX(2000px); -webkit-transform: translateX(2000px); transform: translateX(2000px); }
  60% { opacity: 1; -moz-transform: translateX(-30px); -ms-transform: translateX(-30px); -webkit-transform: translateX(-30px); transform: translateX(-30px); }
  80% { -moz-transform: translateX(10px); -ms-transform: translateX(10px); -webkit-transform: translateX(10px); transform: translateX(10px); }
  100% { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); } }
.bounceInRight { -moz-animation-name: bounceInRight; -webkit-animation-name: bounceInRight; animation-name: bounceInRight; }

@-moz-keyframes rollIn { 0% { opacity: 0; -moz-transform: translateX(-100%) rotate(-120deg); transform: translateX(-100%) rotate(-120deg); }
  100% { opacity: 1; -moz-transform: translateX(0px) rotate(0deg); transform: translateX(0px) rotate(0deg); } }
@-webkit-keyframes rollIn { 0% { opacity: 0; -webkit-transform: translateX(-100%) rotate(-120deg); transform: translateX(-100%) rotate(-120deg); }
  100% { opacity: 1; -webkit-transform: translateX(0px) rotate(0deg); transform: translateX(0px) rotate(0deg); } }
@keyframes rollIn { 0% { opacity: 0; -moz-transform: translateX(-100%) rotate(-120deg); -ms-transform: translateX(-100%) rotate(-120deg); -webkit-transform: translateX(-100%) rotate(-120deg); transform: translateX(-100%) rotate(-120deg); }
  100% { opacity: 1; -moz-transform: translateX(0px) rotate(0deg); -ms-transform: translateX(0px) rotate(0deg); -webkit-transform: translateX(0px) rotate(0deg); transform: translateX(0px) rotate(0deg); } }
.rollIn { -moz-animation-name: rollIn; -webkit-animation-name: rollIn; animation-name: rollIn; }

@-moz-keyframes fadeInDownBig { 0% { opacity: 0; -moz-transform: translateY(-2000px); transform: translateY(-2000px); }
  100% { opacity: 1; -moz-transform: translateY(0); transform: translateY(0); } }
@-webkit-keyframes fadeInDownBig { 0% { opacity: 0; -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes fadeInDownBig { 0% { opacity: 0; -moz-transform: translateY(-2000px); -ms-transform: translateY(-2000px); -webkit-transform: translateY(-2000px); transform: translateY(-2000px); }
  100% { opacity: 1; -moz-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); } }
.fadeInDownBig { -moz-animation-name: fadeInDownBig; -webkit-animation-name: fadeInDownBig; animation-name: fadeInDownBig; }

@-moz-keyframes flipInX { 0% { -moz-transform: perspective(400px) rotateX(90deg); transform: perspective(400px) rotateX(90deg); opacity: 0; }
  40% { -moz-transform: perspective(400px) rotateX(-10deg); transform: perspective(400px) rotateX(-10deg); }
  70% { -moz-transform: perspective(400px) rotateX(10deg); transform: perspective(400px) rotateX(10deg); }
  100% { -moz-transform: perspective(400px) rotateX(0deg); transform: perspective(400px) rotateX(0deg); opacity: 1; } }
@-webkit-keyframes flipInX { 0% { -webkit-transform: perspective(400px) rotateX(90deg); transform: perspective(400px) rotateX(90deg); opacity: 0; }
  40% { -webkit-transform: perspective(400px) rotateX(-10deg); transform: perspective(400px) rotateX(-10deg); }
  70% { -webkit-transform: perspective(400px) rotateX(10deg); transform: perspective(400px) rotateX(10deg); }
  100% { -webkit-transform: perspective(400px) rotateX(0deg); transform: perspective(400px) rotateX(0deg); opacity: 1; } }
@keyframes flipInX { 0% { -moz-transform: perspective(400px) rotateX(90deg); -ms-transform: perspective(400px) rotateX(90deg); -webkit-transform: perspective(400px) rotateX(90deg); transform: perspective(400px) rotateX(90deg); opacity: 0; }
  40% { -moz-transform: perspective(400px) rotateX(-10deg); -ms-transform: perspective(400px) rotateX(-10deg); -webkit-transform: perspective(400px) rotateX(-10deg); transform: perspective(400px) rotateX(-10deg); }
  70% { -moz-transform: perspective(400px) rotateX(10deg); -ms-transform: perspective(400px) rotateX(10deg); -webkit-transform: perspective(400px) rotateX(10deg); transform: perspective(400px) rotateX(10deg); }
  100% { -moz-transform: perspective(400px) rotateX(0deg); -ms-transform: perspective(400px) rotateX(0deg); -webkit-transform: perspective(400px) rotateX(0deg); transform: perspective(400px) rotateX(0deg); opacity: 1; } }
.flipInX { -moz-animation-name: flipInX; -webkit-animation-name: flipInX; animation-name: flipInX; -moz-backface-visibility: visible; -webkit-backface-visibility: visible; backface-visibility: visible; }

@-moz-keyframes flipInY { 0% { -moz-transform: perspective(400px) rotateY(90deg); transform: perspective(400px) rotateY(90deg); opacity: 0; }
  40% { -moz-transform: perspective(400px) rotateY(-10deg); transform: perspective(400px) rotateY(-10deg); }
  70% { -moz-transform: perspective(400px) rotateY(10deg); transform: perspective(400px) rotateY(10deg); }
  100% { -moz-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(0deg); opacity: 1; } }
@-webkit-keyframes flipInY { 0% { -webkit-transform: perspective(400px) rotateY(90deg); transform: perspective(400px) rotateY(90deg); opacity: 0; }
  40% { -webkit-transform: perspective(400px) rotateY(-10deg); transform: perspective(400px) rotateY(-10deg); }
  70% { -webkit-transform: perspective(400px) rotateY(10deg); transform: perspective(400px) rotateY(10deg); }
  100% { -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(0deg); opacity: 1; } }
@keyframes flipInY { 0% { -moz-transform: perspective(400px) rotateY(90deg); -ms-transform: perspective(400px) rotateY(90deg); -webkit-transform: perspective(400px) rotateY(90deg); transform: perspective(400px) rotateY(90deg); opacity: 0; }
  40% { -moz-transform: perspective(400px) rotateY(-10deg); -ms-transform: perspective(400px) rotateY(-10deg); -webkit-transform: perspective(400px) rotateY(-10deg); transform: perspective(400px) rotateY(-10deg); }
  70% { -moz-transform: perspective(400px) rotateY(10deg); -ms-transform: perspective(400px) rotateY(10deg); -webkit-transform: perspective(400px) rotateY(10deg); transform: perspective(400px) rotateY(10deg); }
  100% { -moz-transform: perspective(400px) rotateY(0deg); -ms-transform: perspective(400px) rotateY(0deg); -webkit-transform: perspective(400px) rotateY(0deg); transform: perspective(400px) rotateY(0deg); opacity: 1; } }
.flipInY { -moz-animation-name: flipInY; -webkit-animation-name: flipInY; animation-name: flipInY; -moz-backface-visibility: visible; -webkit-backface-visibility: visible; backface-visibility: visible; }

@-webkit-keyframes left-hand-swing { 0% { -webkit-transform: rotate(-30deg); -webkit-transform-origin: 100% 100%; }
  100% { -webkit-transform: rotate(30deg); -webkit-transform-origin: 100% 100%; } }
@-webkit-keyframes right-hand-swing { 0% { -webkit-transform: rotate(30deg); -webkit-transform-origin: 0 100%; }
  100% { -webkit-transform: rotate(-30deg); -webkit-transform-origin: 0 100%; } }
@-webkit-keyframes light-move { 0% { opacity: 1; -webkit-transform: rotate(-25deg); -webkit-transform-origin: 0 0; }
  100% { opacity: 1; -webkit-transform: rotate(25deg); -webkit-transform-origin: 0 0; } }
@-webkit-keyframes zoomIn { from { opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
  50% { opacity: 1; } }
@keyframes zoomIn { from { opacity: 0; -webkit-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
  50% { opacity: 1; } }
.wrapper { z-index: 1; position: relative; margin: 0 auto; height: 100%; overflow: hidden; }

@-webkit-keyframes swipe { 0% { -webkit-transform: translate(0, 0); }
  50% { -webkit-transform: translate(0, 10px); }
  100% { -webkit-transform: translate(0, 0); } }
@keyframes swipe { 0% { transform: translate(0, 0); }
  50% { transform: translate(0, 10px); }
  100% { transform: translate(0, 0); } }
.arrow { display: none; position: absolute; bottom: 3%; left: 50%; margin-left: -34px; z-index: 10; -webkit-animation: swipe 1s ease 0s infinite; animation: swipe 1s ease 0s infinite; width: 68px; height: 29px; background-image: url(../images/arrow.png); }
.arrow.visible { display: block; }

.bgmusic { z-index: 100; position: absolute; right: 10px; top: 20px; width: 79px; height: 79px; background-image: url(../images/music.png); }

.bgmusic-closed { background-image: url(../images/music-closed.png); }

.container { z-index: 1; position: absolute; left: 0; top: 0; width: 100%; height: 1000%; -webkit-transition: -webkit-transform .5s ease-in-out; transition: transform .5s ease-in-out; }

.section { position: relative; width: 100%; height: 10%; overflow: hidden; }

.animate-item { display: none; position: absolute; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.visible .animate-item { display: block; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.section1 { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3ZGZmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmZDY5NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a7dff1), color-stop(100%, #efd696)); background-image: -moz-linear-gradient(#a7dff1, #efd696); background-image: -webkit-linear-gradient(#a7dff1, #efd696); background-image: linear-gradient(#a7dff1, #efd696); }
.section1 .img1 { right: 0; top: 10px; width: 600px; height: 430px; background-image: url(../images/sec1-img1.png); }
.section1 .img2 { left: 0; top: 408px; width: 640px; height: 424px; background-image: url(../images/sec1-img2.png); }
.section1 .img3 { left: 50%; bottom: 100px; margin: 0 0 0 -131px; width: 262px; height: 132px; background-image: url(../images/sec1-img3.png); }
.section1.visible .img1 { -moz-animation: bounceInDown 1s ease both; -webkit-animation: bounceInDown 1s ease both; animation: bounceInDown 1s ease both; }
.section1.visible .img2 { -moz-animation: rollIn 1s 1s ease both; -webkit-animation: rollIn 1s 1s ease both; animation: rollIn 1s 1s ease both; }
.section1.visible .img3 { -moz-animation: flipInY 0.5s 2s ease both; -webkit-animation: flipInY 0.5s 2s ease both; animation: flipInY 0.5s 2s ease both; }

.section2 { background-color: #282521; }
.section2 .img1 { left: 50%; top: 12px; margin-left: -255px; width: 511px; height: 329px; background-image: url(../images/sec2-img1.png); }
.section2 .img2 { right: 10px; top: 426px; width: 559px; height: 478px; background-image: url(../images/sec2-img2.png); }
.section2 .img3 { left: 138px; top: 618px; width: 171px; height: 208px; background-image: url(../images/sec2-img3.png); }
.section2 .img4 { right: 20px; top: 684px; width: 215px; height: 166px; background-image: url(../images/sec2-img4.png); }
.section2 .img5 { left: -68px; top: 280px; width: 366px; height: 335px; background-image: url(../images/sec2-img5.png); }
.section2 .img6 { left: 208px; top: 531px; width: 122px; height: 95px; background-image: url(../images/sec2-img6.png); }
.section2 .img7 { left: 176px; top: 550px; width: 27px; height: 58px; background-image: url(../images/sec2-img7.png); }
.section2 .img8 { left: 225px; top: 484px; width: 69px; height: 35px; background-image: url(../images/sec2-img8.png); }
.section2 .img9 { right: 95px; top: 448px; width: 134px; height: 121px; background-image: url(../images/sec2-img9.png); }
.section2 .img10 { right: 33px; top: 358px; width: 290px; height: 58px; background-image: url(../images/sec2-img10.png); }
.section2.visible .img1 { -moz-animation: flipInX 0.5s 0s ease both; -webkit-animation: flipInX 0.5s 0s ease both; animation: flipInX 0.5s 0s ease both; }
.section2.visible .img3 { -webkit-animation: left-hand-swing .4s 2.5s linear infinite alternate; }
.section2.visible .img4 { -webkit-animation: right-hand-swing .4s 2.5s linear infinite alternate; }
.section2.visible .img5 { -moz-animation: rollIn 1s 1s ease both; -webkit-animation: rollIn 1s 1s ease both; animation: rollIn 1s 1s ease both; }
.section2.visible .img6 { -moz-animation: flash infinite 0.5s 2s ease both; -webkit-animation: flash infinite 0.5s 2s ease both; animation: flash infinite 0.5s 2s ease both; }
.section2.visible .img7 { -moz-animation: flash infinite 0.5s 2s ease both; -webkit-animation: flash infinite 0.5s 2s ease both; animation: flash infinite 0.5s 2s ease both; }
.section2.visible .img8 { -moz-animation: flash infinite 0.5s 2s ease both; -webkit-animation: flash infinite 0.5s 2s ease both; animation: flash infinite 0.5s 2s ease both; }
.section2.visible .img9 { -moz-animation: shake infinite 0.5s 2.5s ease both; -webkit-animation: shake infinite 0.5s 2.5s ease both; animation: shake infinite 0.5s 2.5s ease both; }
.section2.visible .img10 { -moz-animation: bounceInRight 0.5s 3s ease both; -webkit-animation: bounceInRight 0.5s 3s ease both; animation: bounceInRight 0.5s 3s ease both; }

.section3 { background-color: #282521; }
.section3 .img1 { left: 50%; top: 32px; margin-left: -276px; width: 552px; height: 816px; background-image: url(../images/sec3-img1.png); }
.section3 .img2 { z-index: 10; left: 67px; top: 88px; width: 146px; height: 71px; background-image: url(../images/sec3-img2.png); }
.section3 .img3 { opacity: 0; z-index: 2; left: 132px; top: 149px; width: 185px; height: 351px; background-image: url(../images/sec3-img3.png); }
.section3 .img4 { left: 283px; top: 67px; width: 289px; height: 323px; background-image: url(../images/sec3-img4.png); }
.section3 .img5 { left: 149px; top: 684px; width: 360px; height: 118px; background-image: url(../images/sec3-img5.png); }
.section3 .img6 { left: 191px; top: 55px; width: 90px; height: 28px; background-image: url(../images/sec3-img6.png); }
.section3.visible .img2 { -moz-animation: fadeInDownBig 0.5s ease both; -webkit-animation: fadeInDownBig 0.5s ease both; animation: fadeInDownBig 0.5s ease both; }
.section3.visible .img3 { -webkit-animation: light-move 4s .8s linear infinite alternate; }
.section3.visible .img4 { -moz-animation: zoomIn 0.3s 1.5s ease both; -webkit-animation: zoomIn 0.3s 1.5s ease both; animation: zoomIn 0.3s 1.5s ease both; }
.section3.visible .img5 { -moz-animation: bounceInUp 0.5s 2s ease both; -webkit-animation: bounceInUp 0.5s 2s ease both; animation: bounceInUp 0.5s 2s ease both; }
.section3.visible .img6 { -moz-animation: shake 0.5s 1s ease both; -webkit-animation: shake 0.5s 1s ease both; animation: shake 0.5s 1s ease both; }

.section4 { background-color: #282521; }
.section4 .img1 { left: 6px; top: 15px; width: 361px; height: 562px; background-image: url(../images/sec4-img1.png); }
.section4 .img2 { left: 233px; top: 60px; width: 96px; height: 194px; background-image: url(../images/sec4-img2.png); }
.section4 .img3 { right: 4px; top: 18px; width: 359px; height: 559px; background-image: url(../images/sec4-img3.png); }
.section4 .img4 { right: 208px; top: 374px; width: 128px; height: 158px; background-image: url(../images/sec4-img4.png); }
.section4 .img5 { left: 39px; top: 577px; width: 563px; height: 332px; background-image: url(../images/sec4-img5.png); }
.section4 .img6 { right: 153px; top: 784px; width: 332px; height: 110px; background-image: url(../images/sec4-img6.png); }
.section4.visible .img1 { -moz-animation: bounceInLeft 0.5s ease both; -webkit-animation: bounceInLeft 0.5s ease both; animation: bounceInLeft 0.5s ease both; }
.section4.visible .img2 { -moz-animation: zoomIn 0.5s 0.8s ease both; -webkit-animation: zoomIn 0.5s 0.8s ease both; animation: zoomIn 0.5s 0.8s ease both; }
.section4.visible .img3 { -moz-animation: bounceInRight 0.5s 1.6s ease both; -webkit-animation: bounceInRight 0.5s 1.6s ease both; animation: bounceInRight 0.5s 1.6s ease both; }
.section4.visible .img4 { -moz-animation: zoomIn 0.5s 2.4s ease both; -webkit-animation: zoomIn 0.5s 2.4s ease both; animation: zoomIn 0.5s 2.4s ease both; }
.section4.visible .img5 { -moz-animation: bounceInUp 0.5s 3.2s ease both; -webkit-animation: bounceInUp 0.5s 3.2s ease both; animation: bounceInUp 0.5s 3.2s ease both; }
.section4.visible .img6 { -moz-animation: zoomIn 0.5s 4s ease both; -webkit-animation: zoomIn 0.5s 4s ease both; animation: zoomIn 0.5s 4s ease both; }

.section5 { background-image: url(../images/sec5-bg.png); background-size: 100% 100%; }
