#play { position: absolute; width: 100%; height: 100%; overflow: hidden; }
#viewport { position: absolute; width: 100%; height: 100%;}
#canvas { width: 100%; height: 100%; overflow: hidden; -webkit-background-size: auto; background-size: auto; -webkit-transform-origin: 0 0; transform-origin: 0 0; }
#screen { position: relative; width: 100%; height: 100%; overflow: hidden;}
#tips { position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: url(../images/sec5-img10.png) no-repeat 0 0 / 100% 100%; }
#arrow { position: absolute; left: 50%; bottom: 132px; width: 48px; height: 36px; margin-left: -24px; color: #fff; font-size: 20px; -webkit-transform-origin: 50% 280%; transform-origin: 50% 280%; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAkCAYAAADPRbkKAAACmklEQVR42tWZTUgVURTH501ZFj1VisxKJDXVXFqZLguRsE2glES4iRALISigIqOU2kSGCrUK+q4AjVJNBW1nkLR0Va4ChSLoAYLS1//QefCYfHPnzsyZmXfgh+h8nPO/c86Zc8eY2T1vCNvhow27JvHzp8TNTeHgN4NhcF3KgaSAGBhnHxdBaaYJ6AA1Kb+PS/iTErATDFj+Rk+gMxME0D2n0hzrBduiLqAL7LY5Psz1EUkBleCq4hyqixNRFJAF3jk89wHIi5oAyu8CDb8voyRgPzijeU0DvaWjICAbTLq8dhBsDFvAQ5DjQfz9MAVQGrR4vMcxcCAMAZu4p/thY2Bd0AJeuXW6ilFLvR2kgOPgkM8vQepi1UEI2AKeCA2BNLGukRRAM8xbwSl2B7gsKeCsZcaXsGugWEJAEegzgrFRp7GZGkKnjeBsDzjtp4AuqT2tjd3lhuFZQJWDGV/K3qg2PyoBWQGnjtVoxGj2IqBPY8aXsqcg7kZALWg3wre14JmuABpzJzw6/gxaQS5YD5rAnMt7NaUbXdIJeORyxv8OzoFCUAaegwRY4d5eze+THkP/W+lrXlilgEZV4ViMArnFn1Ko7d0BizbnfwFXwAZe1Q8O/dDO7Z5KQJyVOrEXYB+vygXwCfzRFD7F++mt4BJYUlzTBvbaCRhSzPjv+Qll80g9C37ZeawscfT15Cu4yWlbr2jdI9ze/xPQmqZQqBhP8qajjot72UlUFHxVab5OntNizICDxr9P851cQ6lGT+uGVQDl7uOUkxKcFtu5GOnYD51IXAS/WkPo54Wr4ZVP2nlQnhQQ41X9zQVYwRdRYS648exD8KlGdfURHOEUOwW+JfclMbN7vp6DnzV8+DeQz8HbbaxoYs39C1K6Z6KSqYJxAAAAAElFTkSuQmCC) no-repeat 50% 50%; }
#arrow:after { content: none; display: block; position: absolute; width: 0; left: 50%; border-left: 1px dashed #fff; bottom: 100%; height: 1000px; }

#summary { margin-top: 15px; height: 81px; text-align: center; }
#summary span { position: absolute; top: 15px; display: inline-block; }
#summary span:first-child { left: 20px; width: 155px; height: 70px; background: url(../images/sec5-img1.png) no-repeat; line-height: 70px; font-size: 56px; color: #533e1f; }
#summary span:last-child { left: 345px; width: 199px; height: 81px; background: url(../images/sec5-img2.png) no-repeat; line-height: 81px; font-size: 50px; color: #e95567; }
#summary var { display: block; font-style: normal; font-weight: 700; vertical-align: top; text-align: left;}
#summary span:first-child var { text-indent: 15px; }
#summary span:last-child var { text-indent: 100px; }

#trash { position: relative; width: 120px; height: 150px; margin: 80px auto 0 auto; }
#trash:after { content: ""; display: block; position: absolute; width: 100%; left: 0; top: 0; height: 100%; opacity: .8; }

.trashicon { position: absolute; top: -42px; left: 50%; width: 78px; height: 78px; margin-left: -38px; -webkit-transform: scale(.7) rotate(45deg); transform: scale(.7) rotate(45deg); -webkit-transition: -webkit-transform ease-in .4s; transition: transform ease-in .4s; }

#fan { position: absolute; width: 209px; height: 118px; bottom: 296px; right: 0px; background: url(../images/sec5-img11.png) no-repeat; }
#fan.left { right: auto; left: 0px; background-image: url(); }
#fan:after { content: ""; display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: url() no-repeat 0 0; }
#fan.left:after { background-image: url(); }
#flabellum { position: absolute; width: 105px; height: 105px; left: 5px; top: 8px; -webkit-transform-origin: 52.4% 52.4%; transform-origin: 52.4% 52.4%; background: url() no-repeat 0 0; }
#fan.left #flabellum { left: 7px; }

@-webkit-keyframes rotation-ani {
	0% { -webkit-transform: rotate(0); }
	100% { -webkit-transform: rotate(-360deg); }
}

@keyframes rotation-ani {
	0% { transform: rotate(0); }
	100% { transform: rotate(-360deg); }
}

@-webkit-keyframes rotation2-ani {
	0% { -webkit-transform: rotate(0); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes rotation2-ani {
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}

#wind-velocity { display: block; position: absolute; left: 27px; top: -73px; width: 80px; height: 45px; line-height: 45px; font-style: normal; border-bottom: 2px solid #fff; text-align: center; font-size: 24px; color: #fff; }
#wind-velocity:before { content: attr(data-velocity); }
#wind-velocity:after { content: ""; display: block; position: absolute; width: 0; height: 0; left: -8px; bottom: -9px; overflow: hidden; border: 8px solid transparent; border-right-color: #fff; }
#fan.left #wind-velocity:after { left: auto; right: -8px; border-right-color: transparent; border-left-color: #fff; }

#icons { position: absolute; width: 390px; height: 110px; bottom: 4px; left: 0; }
#icons ul { float: right; width: 21000px; height: 110px; -webkit-transition: -webkit-transform .2s; transition: transform .2s; }
#icons ul:after { content: ""; display: table; clear: both; }
#icons li { pointer-events: none; position: relative; float: right; width: 150px; height: 110px; margin-left: 2px; overflow: hidden; color: rgba(0,0,0,0); -webkit-transition: -webkit-transform .2s; transition: transform .2s; -webkit-transform: translate3d(0,0,0) scale(.75); transform: translate3d(0,0,0) scale(.75); }

#icons .current { pointer-events: all; margin-left: 12px; -webkit-transform: translate3d(0,0,0) scale(1); transform: translate3d(0,0,0) scale(1); }
#icons li:after { content: ""; display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: rgba(30,56,82,.5); }
#icons li.current:after { content: none; }

#icons li.throwing { visibility: hidden; }

#throwing { display: block; position: absolute; width: 150px; height: 110px; top: 0; right: 0; -webkit-transition: -webkit-transform ease-out 1s; transition: transform ease-out 1s; }
#throwing div { display: block; position: absolute; width: 100%; height: 100%; top: 0; right: 0; }
#throwing.back { -webkit-transition: none; transition: none; }
#throwing.r1 div { -webkit-animation: rotation-ani .3s linear infinite; animation: rotation-ani .3s linear infinite; -webkit-transform-origin: 40% 50%; transform-origin: 40% 50%; }
#throwing.r2 div { -webkit-animation: rotation2-ani .3s linear infinite; animation: rotation2-ani .3s linear infinite; -webkit-transform-origin: 60% 50%; transform-origin: 60% 50%; }

#increment { position: absolute; opacity: 0; left: 234px; top: 120px; width: 148px; height: 80px; line-height: 80px; text-align: center; color: #fff; -webkit-transition: .3s; transition: .3s; }
#increment:before { content: "+"; font-size: 32px; }
#increment:after { content: attr(data-value); font-size: 40px; }

#increment .star { display: block; position: absolute; width: 24px; height: 24px; color: rgba(0,0,0,0); overflow: hidden; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAB9UlEQVR42q2WUSgEURSGj9m1W2xBlLKVFCqRUEoRobIVRSEvXj1KJeVNJS/yiOJFIVBRtpI3QiUFWymRJEUKMLsTxn+3u8yuOzt3cOq7Y447/zn33Dtnh3RdJyGhxh7T/9lAIZFpvnqMo7iugBqSNc2XD9xGl2Iy9RwEQRNYw0P9INlENAWUgQPc7YIimQAfIJJJEhgCU3xlTNTBr8MYt8EeKAYecGgUSmB1EmZFFADZBi+b+AgmQA5oEyR2RS6/1+hwmqzgmWcTlQxggfvi7MJ4rMOsREzsgOzbqlwAl/8N47tN8SdeVqkVMMuyGeAYif1IyinYYOa7Bhk2A+yInEqMeDVG9RfizJrxfOePzfw6ppqvBeMy/c0eQDlKdRq9As03/w/ixI/xLPS83yt4amDnepDvh4P+x2bAAHnWL5wU1BZwswVKQB2oAJnssP4hQGv4ZfVQd3SruKxM5OIl4VoS1fK/U+OI6fzFjPXds2Yp7kXMTkrZQ2lgCdQIRJgtgk3eeYPhXkR0y+eGqGD/xDxAxPYLezGOCBtbacBrVSvrAJu5rF3fgNjfgzyqOju1CqBYbtdLSAXTgAysyojHa9ff9spKS3OgHaRzb4fscbJeQcudTqp2BAKASNW64FOlD6z0F8Kkqx9s2P2qkJ88prh/89nyCRAuayTovZHCAAAAAElFTkSuQmCC) no-repeat 50% 50%; }
#increment .star:nth-child(1) { left: 98px; top: 0; }
#increment .star:nth-child(2) { left: 128px; top: 19px; opacity: .5; -webkit-transform: scale(.583) rotate(-15deg); transform: scale(.583) rotate(-15deg); -webkit-animation-delay: .2s; animation-delay: .2s; }
#increment .star:nth-child(3) { left: 104px; top: 45px; -webkit-transform: scale(.792) rotate(-15deg); transform: scale(.792) rotate(-15deg); -webkit-animation-delay: .4s; animation-delay: .4s; }
#increment .star:nth-child(4) { left: 40px; top: -2px; opacity: .5; -webkit-transform: scale(.8) rotate(-10deg); transform: scale(.8) rotate(-10deg); -webkit-animation-delay: .6s; animation-delay: .6s; }
#increment .star:nth-child(5) { left: 14px; top: 7px; -webkit-transform: scale(.583) rotate(-10deg); transform: scale(.583) rotate(-10deg); -webkit-animation-delay: .8s; animation-delay: .8s; }

#increment.visible { opacity: 1; -webkit-animation: increment-visible .3s; }
#increment.visible .star { -webkit-animation: star-blink .5s linear infinite 0; animation: star-blink .5s linear infinite 0; }
#increment.visible .star:nth-child(1) { }
#increment.visible .star:nth-child(2) { -webkit-animation-delay: .1s; animation-delay: .1s; }
#increment.visible .star:nth-child(3) { -webkit-animation-delay: .2s; animation-delay: .2s; }
#increment.visible .star:nth-child(4) { -webkit-animation-delay: .3s; animation-delay: .3s; }
#increment.visible .star:nth-child(5) { -webkit-animation-delay: .4s; animation-delay: .4s; }
#increment.dismiss { opacity: 0; -webkit-animation: increment-dismiss .3s; }
@-webkit-keyframes star-blink {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes star-blink {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

@-webkit-keyframes increment-visible {
	0% { opacity: 0; -webkit-transform: translate(0,60px); }
	100% { opacity: 1; }
}

@keyframes increment-visible {
	0% { opacity: 0; transform: translate(0,60px); }
	100% { opacity: 1; }
}

@-webkit-keyframes increment-dismiss {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes increment-dismiss {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

#icons li, #throwing div, .trashicon { background-image: url(../images/icons.png); background-repeat: no-repeat; }
#icons .mbox1, .mbox1 { background-position: 0 0; } 
#icons .mbox2, .mbox2 { background-position: 0 -110px; } 
#icons .mbox3, .mbox3 { background-position: 0 -220px; } 
#icons .mbox4, .mbox4 { background-position: 0 -330px; } 
#icons .mbox5, .mbox5 { background-position: 0 -440px; }

#over { display: none; opacity: 0; pointer-events: none; position: absolute; z-index: 10; width: 100%; height: 100%; left: 0; top: 0;  -webkit-transition: opacity .5s; transition: opacity .5s;
 background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3ZGZmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmZDY5NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a7dff1), color-stop(100%, #efd696));
  background-image: -moz-linear-gradient(#a7dff1, #efd696);
  background-image: -webkit-linear-gradient(#a7dff1, #efd696);
  background-image: linear-gradient(#a7dff1, #efd696); }
#over.visible { display: block; opacity: 1!important; pointer-events: all!important; }
.o-bottom {position: absolute; bottom: 0; left: 50%; margin-left: -317px; width: 634px; height: 232px; background: url(../images/sec5-img4.png) no-repeat;}
.share { margin-top: 60px; height:83px; text-align:center; width:100%; }
.share a { display:inline-block; width: 83px; height: 83px; display: inline-block;  background:url(../images/sec5-img3.png) no-repeat 0 0; margin:0 5px; vertical-align:top; overflow:hidden; color:rgba(0,0,0,0); text-indent:-9999em;}
.share .wechat { background-position:-95px 0;}
.share .qzone { background-position: -188px 0; }
.share .weibo { background-position: 0 0; }
.share .tencent-weibo { background-position: -280px 0; }

.o-links a { z-index: 12; position: absolute; bottom: 235px; width: 211px; text-indent: -999em; }
.o-link1 { left: 60px; height: 73px; background-image: url(../images/sec5-img5.png); }
.o-link2 { right: 60px; height: 74px; background-image: url(../images/sec5-img6.png); }
.o-success { display: none; position: absolute; top: 0; left: 50%; margin-left: -320px; width: 640px; height: 675px; background: url(../images/sec5-img7.png) no-repeat; }
.agin { position: absolute; width: 214px; height: 84px; background: url(../images/sec5-img9.png) no-repeat; text-indent: -999em; }
.o-success .agin { left: 330px; top: 52px; }
.o-fail { display: none; position: absolute; top: 0; left: 50%; margin-left: -320px; width: 640px; height: 681px; background: url(../images/sec5-img8.png) no-repeat; }
.o-fail .agin { left: 50%; top: 278px; margin-left: -107px; }
.o-success.visible, .o-fail.visible { display: block; }
